page-home {

}
.content_home{
  background-color: red;
  background-image: url('../../assets/imgs/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
